body {
  min-height: 100vh;
}

.grid-stack-item-content {
  border: 1px solid #333;
  background: #eee;
}

.grid-stack-placeholder {
  border: 1px dashed #888;
}

.item-shortcut .grid-stack-item-content {
  background: #aad;
}

.item-data-cube .grid-stack-item-content {
  background: #add;
}

.item-graph .grid-stack-item-content {
  background: #ada;
}

#items-container {
  margin: 20px;
  /* padding: 30px;
  border: 1px solid #666; */
}

#buttons-div {
  margin: 50px;
}

.remove-item {
  display: none;
  float: right;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 4px 8px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  background: rgba(255,255,255,0.7);
}

body.editing .remove-item {
  display: block;
}

.grid-stack-item.ui-draggable-disabled {
  opacity: 1;
}

body.editing .grid-stack-item-content {
  cursor: move;
}

body:not(.editing) .grid-stack-item-content {
  cursor: pointer;
}