:root {
  --main-text: 2rem;
  --secondary-text: 1.7rem;
  --graph-title-height: 35px;
}

body {
  min-height: 100vh;
}

.grid-stack-item-content {
  border: 1px solid #333;
  background: #eee;
}
 
.grid-stack>.grid-stack-item>.grid-stack-item-content {
  overflow: hidden;
}

.grid-stack-placeholder {
  border: 1px dashed #888;
}

.item-shortcut .grid-stack-item-content {
  background: #aad;
}

.item-data-cube .grid-stack-item-content {
  background: #add;
}

.item-graph .grid-stack-item-content {
  background: #d5f5d5;
}

#items-container {
  margin: 20px;
  /* padding: 30px;
  border: 1px solid #666; */
}

#buttons-div {
  margin: 50px;
}

.remove-item {
  display: none;
  /* float: right; */
  position: absolute;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 4px 8px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  background: rgba(255,255,255,0.7);
}

body.editing .remove-item {
  display: block;
}

.grid-stack-item.ui-draggable-disabled {
  opacity: 1;
}

body.editing .grid-stack-item-content {
  cursor: move;
}

body:not(.editing) .grid-stack-item-content {
  cursor: pointer;
}

.item-data-cube {
  text-align: center;
}

.item-data-cube label {
  display: block;
}

.template-content {
  padding: 5px;
}

.item-data-cube .template-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.item-data-cube .template-content > .title {
  font-size: var(--secondary-text);
}

.item-data-cube .template-content > .sum {
  font-size: var(--main-text);
  font-weight: bold;
}

.item-graph .graph-div {
  height: calc(100% - var(--graph-title-height));
}

.item-graph .template-content {
  height: 100%;
}

.item-graph .template-content > .graph-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  height: var(--graph-title-height);
  line-height: var(--graph-title-height);
}

.item-graph .template-content > .graph-title > label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}